<h6><%= link_to @board.title, board_path(@board) %></h6>
<% if @user %>
  <div align="center">
    <strong><%= link_to "CREATE NEW TOPIC", new_board_topic_path(@board) %></strong>
  </div>
<% end %>
<% @topics.each do |topic| %>
  <%= render partial: 'topic', locals: {:topic => topic, :board => @board, :user => @user} %>
  <small><%= topic.posts.count %> responses</small><br>
  <a href="<%= board_topic_path(@board, topic) %>"><button>View</button></a>
<% end %>
