<div align="center">
  <h2><%= @board.title %></h2>

  <h5><%= @board.description %></h5>
</div>

<hr>
<div align="center">
  <strong><%= link_to "VIEW ALL TOPICS", board_topics_path(@board) %></strong><br>
  <strong><%= link_to "CREATE NEW TOPIC", new_board_topic_path(@board) %></strong>
</div>
<% @board.topics.limit(10).each do |topic| %>
  <small><strong>ID: <%= topic.id %> | <%= topic.created %></strong></small>
  <p><%= topic.title %></p>
  <small><%= link_to "Reply", board_topic_path(@board, topic) %></small>
<% end %>
