<strong><%= post.title %></strong><br>
<small>Post: <%= post.id %></small>

<p><%= Rinku.auto_link(simple_format(post.body), :all, 'target="blank"').html_safe %></p>
<% if @user == post.user || @user == post.board.owner %>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Delete", post_path(post), :method => :delete, data: {confirm: "Are you sure?"} %>
<% end %>
